
.main-container{
  width: 1200px;
  margin: 0 auto;
}
.intro-wrapper{

display: grid;

grid-template-columns: 1fr 1fr;
grid-template-rows: 3em 40em;
grid-template-areas: 
'nav-wrapper nav-wrapper'
'left-column right-column'

;

-webkit-box-shadow: -13px 2px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -13px 2px 24px 0px rgba(0,0,0,0.75);
box-shadow: -13px 2px 24px 0px rgba(0,0,0,0.75);
}
.nav-wrapper{
  
  display: flex;
 justify-content: space-between;
 align-items: center;
  grid-area: nav-wrapper;
  border-bottom: 1px solid #c1c1c1;
  background-color: #D2D2D2;
  border-radius: 5px 5px 0 0;
}
.left-column{
  grid-area: left-column;
 
}
.right-column{
  grid-area: right-column;

}
.greeting-container{
display: grid;
text-align: center;
align-content: center;

min-height: 10em;
font-size: 60;
}
@media screen and (max-width: 1200px){
  .main-container{
    width: 95%;
    
  }
}
.icons-wrapper{
  display: flex;
	padding: 10px;
}
#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}
.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}
.profile-pic{
  display: block;
	margin:0 auto;
  object-fit: cover;
	border:2px solid #c1c1c1;
  height: 500px;
  width: 320px;
  
}
.text-theme{
  text-align: center;
  line-height: 0;
}
#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}

#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}


